*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper {
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: #fff;
}

.main-contents {
  width: calc(100vw - 200px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #efefef;
}

.top-topics {
  width: 100%;
  height: 300px;
  background-color: #123;
  #youtube-player {
    margin: auto;
    text-align: center;
    width: 600px;
  }
}

.article-fields {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  .article{
    height: 300px;
    width: 30%;
    background-color: #123;
    margin-bottom: 30px;
  }
  &::after{
    content:"";
    display: block;
    width:30%;
  }
}


/* タブレット表示時 */
@media (max-width: 1000px) {
  .top-topics {
    height: 250px;
  }
  .sidebar {
    display: none;
  }
  .article-fields{
    .article{
      height: 100px;
      width: 100%;
    }
  }
  .main-contents {
    width: 100vw;
  }
}

/* スマホ表示時 */
@media (max-width: 650px) {
  .top-topics {
    height: 200px;
  }
  .article-fields{
    .article{
      height: 100px;
      width: 100%;
    }
  }
  .sidebar {
    display: none;
  }
  .main-contents {
    width: 100vw;
  }
}

